.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-small) {
    padding-top: 25rem;
  }
}

.results {
  list-style: none;
  margin-bottom: 2rem;

  @media only screen and (max-width: $bp-large) {
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    text-align: left;
  }

  @media only screen and (max-width: $bp-medium) {
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: left;
  }
  @media only screen and (max-width: $bp-small) {
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    text-align: left;
  }
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 3rem;
    padding: 0 20rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 0 10rem;
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }

  @media only screen and (max-width: $bp-large) {
    text-align: center;
  }

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }

  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}
